.showcase {
  height: 100vh;
  background: #333;
  .showcase-3d {
    display: flex;
    height: 100%;
    .model {
      width: 75%;
    }
    .info {
      background: #fff;
      width: 25%;
      h3 {
        text-align: center;
      }
    }
  }
}